.content-wrapper {
	width: 900px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
.title {
	font-family: 'Roboto Slab', serif;
	color: #ff0000;
	font-weight: normal;
	margin-bottom: 30px;
}
.lead {
	font-weight: bold;
	margin-top: 0;
}
.content-columns {
	columns: 2;
	text-align: justify;
	margin-bottom: 30px;
}
.text-right {
	text-align: right;
}
.nav-link {
	display: block;
}
.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}